body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head1{
  height: 60px;
  width: 100%;
  background-color: #0c8b08;
  position: fixed;
}

.main{
  width: auto;
  min-height: 960px;
  padding-top: 90px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 40px;
  
  background-color: #c9fbd4;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photoBoard{
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;

}

.line{
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageTile{
  margin-right: 10px;;
}

@media screen and (max-width: 1400px) and (min-width: 1200px){
  .main{
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 1200px){
  .main{
    padding-left: 40px;
    padding-right: 40px;
  }
}